@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  background-color: theme('colors.app');
  color: theme('colors.body');
  -webkit-font-smoothing: antialiased;
}
